# Zadanie 3

**Jakub Bogdan 216728  
Przemysław Komuda 216802**

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, HTML

def print_table(dataframe):
    display(HTML(dataframe.to_html()))

iris = pd.read_csv("iris.data", names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

quantity = pd.DataFrame(iris.mean().round(3), columns=['mean'])
quantity['standard_deviation'] = iris.std().round(3)
quantity['median'] = iris.median()
quantity['minimum'] = iris.min()
quantity['maximum'] = iris.max()

**Tabela następujących wartości dla cech ilościowych: średnia arytmetyczna, odchylenie standardowe, mediana, minimum oraz maksimum**

In [5]:
print_table(quantity)

In [7]:
setosa = iris[iris['class'] == 'Iris-setosa']
versicolor = iris[iris['class'] == 'Iris-versicolor']
virginica = iris[iris['class'] == 'Iris-virginica']
quality = pd.DataFrame(setosa.count(), columns=['setosa'])
quality['versicolor'] = versicolor.count()
quality['virginica'] = virginica.count()
quality = quality.drop(['sepal_length'])
quality = quality.drop(['sepal_width'])
quality = quality.drop(['petal_length'])
quality = quality.drop(['petal_width'])
quality.rename(index={'class': 'amount'}, inplace=True)

tmp = pd.DataFrame(setosa.count()/iris.count(), columns=['setosa'])
tmp['versicolor'] = versicolor.count()/iris.count()
tmp['virginica'] = virginica.count()/iris.count()
tmp = tmp.drop(['sepal_length'])
tmp = tmp.drop(['sepal_width'])
tmp = tmp.drop(['petal_length'])
tmp = tmp.drop(['petal_width'])
tmp.rename(index={'class': 'frequency'}, inplace=True)

quality = quality.append(tmp)

**Tabela następujących wartości dla cech jakościowych: liczebność oraz częstość (nie ma dominanty, ponieważ liczebność wszystkich klas jest taka sama)**

In [9]:
print_table(quality.round(2))